<ion-tab-bar class="menu-nav" slot="bottom">
  <ion-tab-button (click)="redirecionar('home')"tab="home" >
      <ion-icon name="home-outline"></ion-icon>
  </ion-tab-button>

  <ion-tab-button (click)="redirecionar('tipos-de-locais')"tab="Tipos de locais">
    <ion-icon name="grid-outline"></ion-icon>
  </ion-tab-button>

  <ion-tab-button tab="pesquisa">
    <ion-icon name="search"></ion-icon>
  </ion-tab-button>

  <ion-tab-button  (click)="redirecionar('perfil')" tab="perfil">
    <ion-icon name="person-outline"></ion-icon>
  </ion-tab-button>

 
</ion-tab-bar>
