<ion-header>
  <ion-toolbar>
    <ion-title>Tipos de Locais</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="card_genero" (click)="goToDetailPage('lista-de-locais','Praias')">
    <h1>Praias</h1>
    <div>
      <ion-card>
        <ion-img src="https://a.cdn-hotels.com/gdcs/production2/d1700/2424b84c-5372-4434-b914-3974bcce0d3f.jpg"
          alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img>
        <ion-card-content> Copacabana</ion-card-content>
      </ion-card>
      <ion-card>
        <ion-img src="https://a.cdn-hotels.com/gdcs/production2/d1700/2424b84c-5372-4434-b914-3974bcce0d3f.jpg"
          alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img>
        <ion-card-content> Ipanema</ion-card-content>
      </ion-card>
    </div>
    <div>
      <ion-card>
        <ion-img src="https://a.cdn-hotels.com/gdcs/production2/d1700/2424b84c-5372-4434-b914-3974bcce0d3f.jpg"
          alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img>
        <ion-card-content> Leblon</ion-card-content>
      </ion-card>
      <ion-card>
        <ion-img src="https://a.cdn-hotels.com/gdcs/production2/d1700/2424b84c-5372-4434-b914-3974bcce0d3f.jpg"
          alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img>
        <ion-card-content> Barra da Tijuca</ion-card-content>
      </ion-card>
    </div>
  </ion-card>
</ion-content>
<app-menu-nav></app-menu-nav>
