.login-1 {
  background-image: url('../../assets/img/cristo.jpg');
  background-color: rgba(0, 0, 0, 0.4);
  /* Cor preta com 50% de transparência */
  background-blend-mode: multiply;
  /* Modo de mistura para escurecer */
  height: 100vh !important;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.logo{
  padding-bottom: 30px;
}

.logo-text {
  font-family: 'Vampiro One';
  font-size: 96px;
  color: white;
  text-align: center;
  margin: 0px;
  margin-top: -35px;
}

ion-button {
  width: 200px;
  height: 50px;
  margin-bottom: 10px;
}
