
.descricao-img{
    position: absolute; 
    z-index: 1;
    color: white;
    margin-left: 10px;
    bottom: 50%;
  }
  
  .nome-passeio{
    display: flex;
    align-items: center;
    text-align:start;
  }
  
  .nome-passeio h5{
    text-align: center;
    display: flex;
    align-items: center;
    border-radius: 15px;
    font-size: 15px;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 30px;
  }
  
  .nome-passeio ion-icon{
    color: #FF9A02;
    margin-right: 2px;
  }
  
  .slide h1{
    font-size: 40px; 
    font-weight:100;   
  }
  
  .melhores-passeios ion-img {
    height: 220px;
    object-fit: cover;
    position: relative;
    
  }
  
  .melhores-passeios ion-img::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.2); /* Ajuste a opacidade conforme necessário */
  }

  .descricao-slide{
    height: 120px;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .descricao-slide p{
    font-size: 16px;
    color: rgb(41, 41, 41);
  }
  
  ion-button{
    margin-left: 70%;
    margin-bottom: 30px;
  }

  h2{
    margin-top: 40px;
    font-weight: bold;
    font-size: 24px;
    color: #2A836B;
    margin-left: 10px;
  }